# =========================
# FRONTEND
# =========================

frontend/node_modules/
frontend/android/

# Expo
frontend/.expo/
frontend/dist/
frontend/web-build/
frontend/expo-env.d.ts

# Native
frontend/**/*.orig.*
frontend/**/*.jks
frontend/**/*.p8
frontend/**/*.p12
frontend/**/*.key
frontend/**/*.mobileprovision

# Metro
frontend/.metro-health-check*

# Debug
frontend/npm-debug.*
frontend/yarn-debug.*
frontend/yarn-error.*

# macOS
frontend/.DS_Store
frontend/**/*.pem

# Local environment files
frontend/.env
frontend/.env*.local

# TypeScript
frontend/**/*.tsbuildinfo

# =========================
# BACKEND
# =========================

backend/node_modules/
backend/package-lock.json

# Backend environment files
backend/.env
backend/.env*.local

# Backend debug
backend/npm-debug.*
backend/yarn-debug.*
backend/yarn-error.*

# Backend build/output
backend/dist/
backend/build/

# Backend logs
backend/*.log
backend/logs/

# =========================
# GENERAL
# =========================

node_modules/
.env
.env*.local
.DS_Store
*.log